<div id="wrapper">
      <h1>Job Search Scraping Using Mongoose</h1>
      <h2><i>Ziprecuriter web search for Web Developer!.</i></h2>
      <div id="articles">
        {{#each articles}}
        <p>
          {{title}}
          <br/>
          {{this.link}}
        </p>
        {{/each}}
      </div>
      <div id="notes"></div>
    </div>
    
